html{
    margin: 0;
    padding: 
}

body {
    background-color: aquamarine;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rainbow-btn {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);

}

#text{
    flex-grow: 0;
    
}

.grid {
    border: black;
    margin: 3em;
    display: grid;
    width: 500px;
    height: 500px;
    }

.grid-elements{
    color: blueviolet;
    background-color: chartreuse;
    text-align: center;

}

.game-container{
    display: flex;
    flex-direction: row;
}